[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
mypy = "*"
pytest-mock = "*"
pytest-cov = "*"
flake8 = "*"
pylint = "*"
isort = "*"

[requires]
python_version = "3.7"
