[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
mypy = "*"
pytest-cov = "*"
flake8 = "*"
pylint = "*"
isort = "*"
pytest-asyncio = "*"
asynctest = "*"
aresponses = "*"
pytest-faker = "*"
codacy-coverage = "*"

[requires]
python_version = "3.7"

[packages]
aiohttp = "*"
beautifulsoup4 = "*"
aiosqlite = "*"
aiogram = "*"
certifi = "*"
typing-extensions = "*"
pytz = "*"
